.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#button-margin {
  margin: 10px;
}

.list {
  list-style-type: none;
  color: black;
}

/* ------------------------------------------------------NavBar CSS----------------------------------------------------------- */

.navbar-item {
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar-border {
  box-shadow: 5px 10px 18px #888888;
}

#white-background {
  background-image: url('../assets/roystudio120900008.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  z-index: -1;
  margin: 0;
  height: 200vh;
  width: 100% auto;
  /* position: relative; */
}

#black-background {
  background-color: #333;
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  z-index: -1;
  margin: 0;
  height: 200vh;
  width: 100% auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: right;
  font-size: 1em;
}

.footer-text {
  margin: 10px;
}

/* ------------------------------------------------------Tabs CSS----------------------------------------------------------- */

#tabs {
  background-color: #FFF5EE;
  font-family: fantasy;
  font-size: 30px;
  width: 100%;
  color: black;
  margin: 5px;
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  opacity: 0.8;
}

/* ------------------------------------------------------Table CSS----------------------------------------------------------- */

.table {
  border-style: solid;
  border-color: black;
  background-color: '#e57373' !important;
  color: red;
}