.chat-page-container {
    margin: auto;
    padding: 20px;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 10px 18px #888888;
    height: 60vh;
    width: auto;
    overflow: auto;
    font-size: 25px;
    background-image:  linear-gradient(#FFF5EE,silver);
    font-family: fantasy;
    border-radius: 50px;
}

.title1 {
    text-align: left;
    color: #269CEB;
    font-size: 20px;
    width: auto;
}

.title1-left {
    float: left;
}

.title2 {
    text-align: center;
    color: #FF9D00;
}

.align-center {
    display: flex;
    justify-content: center;
}

.align-center-msg {
    display: flex;
    justify-content: center;
    border-color: solid;
    border-style: solid;
    background-color: white;
    height: 70vh;
    width:100%;
    overflow: auto;
    float: left;
}
 
.chat-app-container {
    margin: auto;
    padding: 20px;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 10px 18px #888888;
    height: 60vh;
    width: 65%;
    overflow: auto;
    font-size: 25px;
    font-family: fantasy;
}

.tabs {
    background-color: #FFF5EE;
    font-family: fantasy;
    font-size: 40px;
    width: auto;
    color: black;
    margin: 5px;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    opacity: 0.8;
    padding: 20px;
  }
  
  .chat-input-row {
      width: 80%;
      box-shadow: 5px 10px 18px #888888;
  }

  .chat-input {
      width: 100%;
      background-color: white;
      border-color: black;
      border-style: solid;

      font-size: 20px;
  }

  .user-title {
      font-size: 20px;
  }