.chat-page-container {
    margin: auto;
    padding: 20px;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 10px 18px #888888;
    height: 60vh;
    width: auto;
    overflow: auto;
    font-size: 25px;
    background-image:  linear-gradient(#FFF5EE,silver);
    font-family: fantasy;
    border-radius: 50px;
}

.title1 {
    text-align: left;
    color: #269CEB;
    margin-top: 0px;
    float: left;
    clear: both;
}

.title2 {
    text-align: left;
    color: #FF9D00;
    margin-top: 0px;
    float: left;
    clear: both;
}

.align-center {
    display: flex;
    justify-content: center;
}

.chat-app-container {
    margin: auto;
    padding: 20px;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 10px 18px #888888;
    height: 60vh;
    width: 65%;
    overflow: auto;
    font-size: 25px;
    font-family: fantasy;
}
