.login-form-label {
    font-size: 25px;
}

.login-form-input {
    font-size: 25px;
    text-align: center;
}

.login-container {
    margin: auto;
    padding: 20px;
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 5px 10px 18px #888888;
    height: auto;
    width: auto;
}

.login-container-warning {
    color: red;
    font-size: 20px;
    overflow: auto;
}

.login-container-title {
    font-size: 7vw;
    font-family: candara;
    background-color: #ADD8E6;
    width: 100%;
    opacity: 0.8;
    border-radius: 50px;
}

hr {
    color: black;
    border-top: 3px double #8c8b8b; 
}

.register-btn {
    color: white;
}
