.recipe-container {
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: auto;
    border-color: style;
    border-color: black;
    color: black;
    text-align: center;
}

.recipe-tab {
    font-size: 25px;
    border-style: solid;
    border-color: black;
    border-radius: '200px';
    color: white !important;
    text-decoration: none;
    opacity: 0.9;
    background-color: #202020;
    text-decoration: white;
}

.navbar-dark .navbar-nav .nav-link {
    text-decoration: none;
    color: white !important;
  }

  .recipe-modal-container {
    /* width: auto; */
    font-family: fantasy;
    overflow: auto;
    border-color: black;
    border-style: solid;
    color: black;
    text-align: left;
    background-image: url('../assets/roystudio120900008.jpg');
    height: auto;
    font-family: fantasy;
    /* border-radius: 25px; */
    list-style: none;
    height: 400px;
    /* text-align: left; */
    padding: 15px;
  }