.register-form-input {
    font-size: 1em;
    text-align: center;
}

.register-container {
    margin: auto;
    padding: 20px;
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 5px 10px 18px #888888;
    height: auto;
    width: auto;
}

.register-container-title {
    font-size: 5vw;
    font-family: candara;
    background-color: #ADD8E6;
    width: 100%;
    opacity: 0.8;
    border-radius: 50px;
}