.run-tracker-page-container {
    margin: auto;
    padding: 20px;
    background-color: #FFFAF0;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 10px 18px #888888;
    height: 40vh;
    width: auto;
    overflow: auto;
    background-image:  linear-gradient(#FFF5EE,silver);
    border-radius: 50px;
    font-size: 25px;
    font-family: fantasy;
}