.table-header-text {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

.utility-container {
    font-family: fantasy;
    width: auto;
    color: black;
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-color: black;
    background-image:  linear-gradient(#FFF5EE,silver);
    border-radius: 50px;
    font-size: 25px;
}